Repository cdelabre-pass/data-skills-matrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-data, check-web-data, lint-web

validate-data:
  name: Validate YAML data structure
  entry: node scripts/validate-data.mjs
  language: system
  pass_filenames: false

check-web-data:
  name: Check web data is up-to-date
  entry: node scripts/check-data.mjs
  language: system
  pass_filenames: false

lint-web:
  name: Lint web app (ESLint + Prettier)
  entry: bash -c 'cd web && npm run lint && npm run format:check'
  language: system
  pass_filenames: false

feat(web): migrate all to web, remove python
  web/package-lock.json
  web/src/lib/components/ExportButtons.svelte
  web/src/lib/components/RadarChart.svelte
  web/src/routes/+page.svelte
Due: lint-web

feat(web): migrate all to web, remove python
  web/src/lib/components/SkillQuestion.svelte
  web/src/lib/stores/assessment.test.ts
  web/src/routes/assessment/review/+page.svelte
Due: lint-web

feat(skills): improve global skills
  data/skill_groups.yaml
  data/skills/analytics/data_analysis.yaml
  data/skills/analytics/product_analytics.yaml
  data/skills/analytics/visualization.yaml
  data/skills/business/domain.yaml
  data/skills/compliance/security.yaml
  data/skills/engineering/data_modeling.yaml
  data/skills/engineering/infrastructure.yaml
  data/skills/engineering/orchestration.yaml
  data/skills/engineering/programming.yaml
  data/skills/ml/machine_learning.yaml
  data/skills/ops/data_ops.yaml
  data/skills/ops/data_quality.yaml
  data/skills/ops/optimization.yaml
  data/skills/soft_skills/soft_skills.yaml
  web/static/data/skills-data.json
Due: validate-data, check-web-data

Update data/skills/engineering/data_modeling.yaml
  data/skills/engineering/data_modeling.yaml
Due: validate-data, check-web-data

feat(skills): remove pass_culture_knowledge.
  data/skills/business/domain.yaml
  web/static/data/skills-data.json
Due: validate-data, check-web-data

feat(skills): update kills-data.json
  web/static/data/skills-data.json
Due: none

feat(skills): improve global skills (#6)
  data/skill_groups.yaml
  data/skills/analytics/data_analysis.yaml
  data/skills/analytics/product_analytics.yaml
  data/skills/analytics/visualization.yaml
  data/skills/business/domain.yaml
  data/skills/compliance/security.yaml
  data/skills/engineering/data_modeling.yaml
  data/skills/engineering/infrastructure.yaml
  data/skills/engineering/orchestration.yaml
  data/skills/engineering/programming.yaml
  data/skills/ml/machine_learning.yaml
  data/skills/ops/data_ops.yaml
  data/skills/ops/data_quality.yaml
  data/skills/ops/optimization.yaml
  data/skills/soft_skills/soft_skills.yaml
  web/static/data/skills-data.json
Due: validate-data, check-web-data

fix(ui): fix ui radar bug on white screen
  web/src/lib/components/RadarChart.svelte
Due: lint-web

Path conditions:
  validate-data: any of: ^data/.*\.yaml$
  check-web-data: any of: ^data/.*\.yaml$
  lint-web: any of: \.(ts|svelte)$
